/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

span {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}
/* UTILITY TAG */

.flexer {
    display: flex;
}

.justify-center {
    justify-content: center;
}

/* MAIN STYLE */
main {
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a8/Castel_San_Pietro_Rome_Italy_Landscape_Photography_%28189578259%29.jpeg');
    background-size: cover;
}

section {
    width: 72%;
    height: 24%;
}

#container {
    width: 72%;
    height: 48%;
    border-radius: 24px 0 24px 0;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, green , white, red);
}

/* MY-DATAT STYLE */
#my-form {
    justify-content: space-between;
}

#my-data {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

#my-ticket {
    justify-content: space-around;
}

#my-button {
    text-align: center;
}

#my-button button {
    font-size: 1rem;
}